.homepage-search,.saved-search{position:relative;z-index:2;height:200px;background:url(/static/images/homepage/gray-bg.png);background:rgba(30,30,30,0.8);-webkit-box-shadow:0 0 20px rgba(0,0,0,0.9);-moz-box-shadow:0 0 20px rgba(0,0,0,0.9);box-shadow:0 0 20px rgba(0,0,0,0.9);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.ie10 .homepage-search,.saved-search{width:100% !important;};
.ie7 .homepage-search,.saved-search{width:100% !important;}
.ie8 .homepage-search,.saved-search{width:100% !important;}
.ie9 .homepage-search,.saved-search{width:100% !important;}
.ie11 .homepage-search,.saved-search{width:100% !important;}
.homepage-search.with-saved-search{-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomright:0;-moz-border-radius-bottomleft:0;border-bottom-right-radius:0;border-bottom-left-radius:0;z-index:3}
.advanced-search .homepage-search{padding:3.25% 3.5%}
.simple-search .homepage-search{padding:26px 4.5%}
.homepage-search a:link,.saved-search a:link,.homepage-search a:visited,.saved-search a:visited{color:#fff}
.search-header{text-align:center;margin-bottom:10px;white-space:nowrap}
.search-header .zss-logo{height:45px;width:180px;background-size:180px 42px}
.search-header .zss-slogan{background:url(/static/images/logos/zillow-slogan.svg) no-repeat;display:inline-block;*display:inline;*zoom:1;height:45px;width:339px;background-size:339px 38px;background-position:0 7px;margin-left:20px;text-indent:-9999px}
.yui3-lightbox .lightbox-body.clearfix::after,.yui3-lightbox .lightbox-body .module-head.clearfix::after,.yui3-lightbox .lightbox-body .module-body.clearfix::after,.yui3-lightbox .lightbox-body .module-foot.clearfix::after{content:"";clear:none}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;font-size:0}
.targeted-search{text-align:center;margin:0 0 10px}
.targeted-search .button{color:#ddd;display:inline-block;*display:inline;*zoom:1;font-size:15px;line-height:18px;font-weight:bold;background:0;filter:none;border:1px solid transparent;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;width:auto;padding:4px 7px;margin-right:20px}
.targeted-search .button:last-child{margin-right:0}
.targeted-search .button span{vertical-align:middle}

.targeted-search input{position:absolute;left:-9999px}
.targeted-search .for-sale-button{width:21%;text-align:left}
.targeted-search .for-rent-button{width:26%;text-align:center}
.targeted-search .foreclosures-button{width:28%;text-align:center}
.targeted-search .zestimates-button{width:25%;text-align:right}
.targeted-search .zestimates-button sup{font-size:.6em}
.targeted-search .button-wrap{white-space:nowrap}
.search-form{margin:0}
.simple-search-form .targeted-search{margin:0 0 11px}
.search-form{margin:12px 0 8px; }
.search-form .search-input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;height:29px;*height:17px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;vertical-align:top;padding:6px 1px 6px 71px;width:100%;*width:420px}
#homes-searchbar .search-form{width:100%}
.search-page #homes-searchbar .search-form{margin:0;padding:10px 10px 10px 0;*width:95%}
.has-sort-bar #homes-searchbar .search-form{width:auto}
.yui3-g{letter-spacing:-0.31em;*letter-spacing:normal;*word-spacing:-0.43em;text-rendering:optimizespeed}
.hotel-california .is-responsive .c-column .yui3-g-inner{padding-left:0}
.yui3-u-1,.yui3-u-1-2,.yui3-u-1-3,.yui3-u-2-3,.yui3-u-1-4,.yui3-u-3-4,.yui3-u-1-5,.yui3-u-2-5,.yui3-u-3-5,.yui3-u-4-5,.yui3-u-1-6,.yui3-u-5-6,.yui3-u-1-8,.yui3-u-3-8,.yui3-u-5-8,.yui3-u-7-8,.yui3-u-1-12,.yui3-u-5-12,.yui3-u-7-12,.yui3-u-11-12,.yui3-u-1-24,.yui3-u-5-24,.yui3-u-7-24,.yui3-u-11-24,.yui3-u-13-24,.yui3-u-17-24,.yui3-u-19-24,.yui3-u-23-24{display:inline-block;zoom:1;*display:inline;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.yui3-u-1-4{width:25%}
button,input,select,textarea{margin:0;font-size:100%}
button,input{*overflow:visible;line-height:normal}

:-moz-placeholder{color:inherit;opacity:.53}
:-ms-input-placeholder{color:#787878}
::-webkit-input-placeholder{color:inherit;opacity:.53}
::-moz-placeholder{color:inherit;opacity:.53}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
#wrapper a.flag-content:not(.button){text-decoration:none;line-height:12px;font-size:1em}
.searchbar{position:relative}


.searchbar .input-search-wrapper input,.searchbar .input-search-wrapper .search-label .search-label-text{width:82%;font-size:15px;line-height:21px;padding:10px 12px;}


.searchbar .input-search-wrapper .search-label .search-label-text{display:none;padding:11px 12px}
.searchbar .last-search.search-label .search-label-text{display:inline-block;*display:inline;*zoom:1;font-weight:bold}
.searchbar .last-search input[type="text"]{padding-left:102px;*width:483px}
.searchbar .zss-go-button{border:0px solid;border-radius:2px;position:absolute;top:0;right:0;margin-right:20px;width:50px;height:45px;}
.searchbar .zss-go-button .zss-font-icon{color:#fff;vertical-align:middle}
.searchbar .zss-go-button span{font-size:24px;line-height:24px;*font-size:18px;text-align:center}
.searchbar .yui3-aclist-item{font-size:12px;padding:5px 10px!important}
.searchbar .yui3-aclist-item-active{text-shadow:none}
.searchbar-filters{margin-top:14px;text-align:center;white-space:nowrap}
.saved-search .saved-search-label,.saved-search .save-search-all-link,.saved-search .saved-search-item{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;margin-right:18px}
.saved-search .save-search-all-link{font-size:11px;display:inline-block;*display:inline;*zoom:1}
.saved-search .saved-search-list-results{display:inline-block;*display:inline;*zoom:1;font-size:15px;line-height:1.2em;font-weight:bold}
.saved-search .saved-search-list-results .uss-gleam{top:0}
.saved-search .saved-search-item{display:inline-block;*display:inline;*zoom:1;max-width:160px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.searchbar-filters{margin-top:14px;text-align:center;white-space:nowrap}
.searchbar-filters div{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.searchbar-filters>div{margin:0 9px}
.searchbar-filters>div:first-child{margin-left:0}
.searchbar-filters>div:last-child{margin-right:0}
.searchbar .search-label,.searchbar .search-input-label{font-size:13px;line-height:13px;width:94%;max-width:500px}
.searchbar .search-label .search-label-text{position:absolute;padding:8px 12px}
#foreclosures-searchbar .search-input{padding-left:145px;width:100%}
#homes-searchbar .search-form{width:100%}
.search-page #homes-searchbar .search-form{margin:0;padding:10px 10px 10px 0;*width:95%}
.search-page #homes-searchbar .search-input{padding-left:3px;width:100%}
.has-sort-bar #homes-searchbar .search-form{width:auto}
.has-sort-bar #homes-searchbar .search-input{padding-left:32px;width:300px}
.continue-search .input-search-wrapper{padding-right:200px}
.saved-search .saved-search-label,.saved-search .save-search-all-link,.saved-search .saved-search-item{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;margin-right:18px}
.zss-dark-form .dash,.zss-dark-form .search-label-text{display:inline-block;*display:inline;*zoom:1;line-height:32px;text-shadow:0 0 4px #222;width:32px;padding:0}
.zss-dark-form .search-label-text{width:20px}
.search-wrapper .search-label-text{z-index:auto}
.search .search-label,.zss-search .search-label,.search .search-input-label,.zss-search .search-input-label{display:inline-block;*display:inline;*zoom:1;vertical-align:top;z-index:1;margin-right:5px;padding:0}
.search .search-label .search-label-text,.zss-search .search-label .search-label-text{position:absolute;display:inline-block;*display:inline;*zoom:1;vertical-align:top;z-index:2}
.searchbar .search-label,.searchbar .search-input-label{font-size:13px;line-height:13px;width:94%;max-width:500px}
.searchbar .search-label .search-label-text{position:absolute;padding:8px 12px}
.zss-dark-form .dash,.zss-dark-form .search-label-text{display:inline-block;*display:inline;*zoom:1;line-height:32px;text-shadow:0 0 4px #222;width:32px;padding:0}
.zss-dark-form .search-label-text{width:20px}
.search-wrapper .search-label-text{z-index:auto}
.search .search-label .search-label-text,.zss-search .search-label .search-label-text{position:absolute;display:inline-block;*display:inline;*zoom:1;vertical-align:top;z-index:2}
.searchbar .search-label .search-label-text{position:absolute;padding:8px 12px}
.searchbar .zss-go-button{border:0px solid;border-radius:2px;position:absolute;top:0;right:0;margin-right:20px;width:50px;height:45px;}
.searchbar .zss-go-button .zss-font-icon{color:#fff;vertical-align:middle}
.searchbar .zss-go-button span{font-size:24px;line-height:24px;*font-size:18px;text-align:center}
.continue-search .zss-go-button{width:200px}
.continue-search .zss-go-button span{font-size:15px;color:#fff;vertical-align:middle}
.targeted-search .button-wrap{white-space:nowrap}
@media only screen and (min-width:601px){.targeted-search .button-wrap{padding:0 10px}
.targeted-search .button-wrap:first-child{padding-left:0}
.targeted-search .button-wrap:last-child{padding-right:0}
}
@media only screen and (max-width:550px){.targeted-search.btns-cassette{width:300px;margin-left:auto;margin-right:auto}
.targeted-search .button-wrap{width:50%;text-align:left;padding-left:20px}
.targeted-search .button-wrap label{width:100%}
}

